---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gallerie | Flo Custom">
  <header class="page-header">
    <h1>Gallerie de Créations ✨</h1>
    <p>Découvrez quelques-unes de nos créations personnalisées.</p>
  </header>

  <!-- <Gallry /> -->
</Layout>
