---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Flo Custom – Bienvenue !">
  <div class="container">
    <h1>Prendre une commande 🦋</h1>
    <p>Un assistant va vous guider pour composer votre commande.</p>
  </div>
</Layout>

<style>
  .container {
    text-align: center;
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.35);
    padding: 3%;
    border-radius: 2rem;
    width: 90%;
    max-width: 500px;
    margin: 10vh auto;
    color: #333;
  }

  h1 {
    color: #ff6699;
    font-weight: 600;
  }
</style>
